{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>onlinedocconvert</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'base/assets/img/favicon2.ico' %}" rel="icon">
  <link href="{% static 'base/assets/img/apple-touch-icon2.ico' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'base/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'base/assets/css/style.css' %}" rel="stylesheet">

  <!-- ======================================================= -->

</head>
<body>
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent bg-dark py-2">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a class="logo mr-auto" href="home" style="color:#FDB303" >Doc Convert</a></h1>

        <nav class="nav-menu d-none d-lg-block"> <ul>


     <li class="drop-down " ><a style="color:#1EFD08" class="logo mr-auto" >
     Best Offer</a>
            <ul  >
                <li><a style="color:green" href="https://amzn.to/3iafD4l">Competitive Books</a> </li>
                <li class="drop-down"><a style="color:blue" href="https://amzn.to/2XM2Qxx">Amazon</a>
                <ul>

                  <li><a href="https://amzn.to/2XM2Qxx">Amazon All</a></li>
                  <li class="drop-down"><a >Mobile,Computer</a>
                    <ul>
                        <li><a href="https://amzn.to/3kf86mU">Mobiles</a> </li>
                        <li><a href="https://amzn.to/30uLSVZ">Mobile Accessory</a> </li>
                        <li><a href="https://amzn.to/3gxPPi7">Computer & Accessory</a> </li>
                        <li><a href="https://amzn.to/2DFc0ok">Laptops</a> </li>
                    </ul>
                  </li>
                  <li><a href="https://amzn.to/30vSV0Q">All Electronics</a></li>
                  <li class="drop-down"><a >Mens Fashion</a>
                    <ul>
                        <li><a href="https://amzn.to/2EUCuTh">Clothing</a> </li>
                        <li><a href="https://amzn.to/3kgVjA3">Watches</a> </li>
                        <li><a href="https://amzn.to/2XtdE3q">Shoes</a> </li>
                    </ul>
                  </li>
                  <li><a href="https://amzn.to/2PEaDJj">Toys & Games</a></li>
                  <li><a href="https://amzn.to/3i8Mgzs">All Books</a></li>
                </ul>
                </li>
                <li><a style="color:green" href="https://clnk.in/lyoi">FlipKart</a></li>
            </ul></li>



      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



          <li class="active"><a  class="logo mr-auto" href="home">Home</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="services">Services</a></li>
         {% if z%} <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li> {% endif %}
          {% if z %}
         <li class="drop-down"><a href="">Conversion</a>
            <ul>
                 <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>

              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>



              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>

            </ul>
          </li>{% endif %}
          <li><a href="contact">Contact Us</a></li>
            <li><a href="Privacy_Policy">Privacy Policy</a></li>
            <li><a href="Terms_&_Conditions">Terms & Conditions</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact my-5 py-5">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Bhubaneswar</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>bktech.web@gmail.com</p>
                </div>
              </div>
             {% if z%} <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>{% endif %}
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms" method="post" role="form" class="php-email-form">
             {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required/>
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" >Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

<!-- Vendor JS Files -->
  <script src="static/base/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/base/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/base/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/base/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/base/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/base/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/base/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/base/assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/base/assets/js/main.js"></script>
</body>
</html>